<h1>Listing n_codes</h1>

<table>
  <thead>
    <tr>
      <th>Term</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @n_codes.each do |n_code| %>
      <tr>
        <td><%= n_code.term %></td>
        <td><%= link_to 'Show', n_code %></td>
        <td><%= link_to 'Edit', edit_n_code_path(n_code) %></td>
        <td><%= link_to 'Destroy', n_code, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New N code', new_n_code_path %>
